h1,
h2 {
  text-decoration: underline;
  background-color: #eef0f4;
  color: #caba14;
}

a {
  text-decoration: underline;
  color: #caba14;
}
pre {
  background-color: #caba14;
  font-style: italic;
  margin-top: 10px;
}
