body {
  background-image: url("background.png");
  font-family: sans-serif;
}
#image_banner {
  background-image: url("bannerbg.png");
  background-repeat: repeat-y;
}
h1 {
  font-family: sans-serif;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px #999999;
}
#main {
  border: 4px solid grey;
  width: 800px;
  margin-left: 15%;
  overflow: auto;
  border-radius: 20px;
}
#left {
  float: left;
  width: 550px;
}
#right {
  width: 250px;
  float: right;
  margin-right: 0px;
  background-color: #a2b964;
}
#left_inside {
  float: left;
  width: 50%;
}
#right_inside {
  width: 50%;
  float: right;
  margin-right: 0px;
}
.p1 {
  border: 2px solid grey;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 8px;
}
.imgfit {
  width: 100%;
}
.imgleft {
  float: left;
}
